<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Seattle RPG</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <script src="/scripts/jquery-3.3.1.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="col-md-12">
          <h1>Welcome to our RPG game</h1>
      </div>

      <div id="game-window">
        <div class="row">
          <div class="col-md-6 scenario-image">
            <img src="img/seattle-pixel.jpg">
          </div>
            <div class= "col-md-4 player-stats">
              <div class="avatar">
              </div>
              <h1 class ="day">DAY 1 <hr></h1>
              <h2 class ="health">HP: 100/100</h2> <br>
              <h2 class ="money">Money: $300</h2> <br>
              <h2 class ="mood">Mood: Happy</h2> <br>
              <h4 class ="name">CJ <hr></h4>
            </div>
          </div>
          <br>
          <div class="col-md-12 scenario-box">
            <p>Scenario<hr></p>
            <p>* This is where prompt text would go, giving the players context as to the situation that may affect their choices</p>
            <button type="btn-success" name="button">Option 1</button>
            <button type="btn-success" name="button">Option 2</button>
            <button type="btn-success" name="button">Option 3</button>
          </div>
          <br>
          <div class="col-md-12 previous-scenario-box">
            <p> Result <hr></p>
            <p>Previous chosen scenario</p>

          </div>
      </div>
    </div>

      @RenderBody()
      @Html.Partial("Footer")
  </body>
</html>
