@{
  Layout = "_Layout";
}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Seattle RPG Start Game Page</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <script src="/scripts/jquery-3.3.1.js"></script>
  </head>
  <body class="introbackground">
    <div class="container">
      <div class="row col-md-12">
        <h3 class="intro"> <strong><em><u><font color="#0fe500">SEATTLE LIFE RPG!</font></u></em></strong><br><br>In A World Where Money Is Everywhere For The Taking, And The Homeless Run A Muck. One Adventurer Stands Above The Rest. You Adventurer, Must Overcome The Hard Knocks Of Seattle And Survive Long Enough To Pay Your Rent of <font color="#0fe500">$1,500</font> And Vanquish The Dreaded "LandLord". Adventurer You must Also Survive With Enough <font color="#0fe500">Hp</font> And Stay As <font color="#0fe500">Happy</font> As Possible. Good Luck Adventurer, <strong><em>You Will Need It.</em></strong><br><br><br><a href="/player"><img class="" src="/img/startgame.png"></a></h3>
      </div>
    </div>
  </body>
</html>
