@{
  Layout = "_Layout";
}

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <button type="button" class="btn" id="addPlayer">Click to add new player name</button>
      <br>
      <form action="/Player/Add/" method="post" id="addPlayerForm">
        <label for="name">Enter Player Name: </label>
        <input name="name" id="name">
        <button type="submit">Add Player Name</button>
      </form>
      <h1><a href="/scenarios">Start game</a></h1>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {

    $("#addPlayerForm").hide();


    $("#addPlayer").click(function() {
      $("#addPlayerForm").toggle();
      $("#addPlayer").hide();
    });
  });
</script>
