<!DOCTYPE html>
@{
  Layout = "_Layout";
}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="form" action="/" method="post">
      <input type="Name" name="Name" value="Name">Name</input>
    </form>
    <button type="submit" name="button"></button>

  </body>
</html>
