<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VICTORY</title>
  </head>
  <body>
    <h2> Congratulations, @Model["currentPlayer"].GetName() . You survived for over 30 days in Seattle. Your final score is: @Model["currentPlayer"].GetMoney()</h2>
  </body>
</html>
