<!DOCTYPE html>
@{
  Layout = "_Layout";
}

<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <script src="/scripts/jquery-3.3.1.js"></script>
    <title>VICTORY</title>
  </head>
  <body>
    <div class="container">
      <div class="row col-md-12">
        <h3> Congratulations, @Model["currentPlayer"].GetName() ! <br> You survived for over 30 days in Seattle. <br> Your final score is: @Model["currentPlayer"].GetMoney() <br><br><img class="victory-image" src="/img/victory.jpeg"> <br><br><a href="/player">New Game</a></h3>
      </div>
    </div>
  </body>
</html>
