@{
  Layout = "_Layout";
}

<form action="/player" method="post">
  <label for="player-name">Please enter your name:</label>
  <input id="player-name" name="player-name" type="text">
  <button type="submit">Start Game</button>
</form>
